.footer {
  width: 100%;
  max-width: 935px;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
}

.footer__list {
  display: flex;
}
.footer__list-item {
  margin-right: 10px;
}
.footer__column .footer__copy {
  color: #999;
}
