
{% extends 'base.html' %}
{% load static %}
{% block title %} Feed {% endblock %}

{% block content %}


<main class="explore">

        {% for image in images %} 
        <ul class="explore__users">
            <li class="explore__user">
                <div class="explore__column">
                    <div class="explore__user__img">
                        <img src="{% static 'images/pple.png' %}" class="explore__user-img">
                    </div>
                    <div class="explore__user__detail">
                        <span class="user_name">{{image.created_by.username}}</span>
                        <span class="full_name">Full{{image.created_by.username}}</span>
                    </div>
                </div>
                <div class="explore__column">
                    <button class="explore__button">follow</button>
                </div>
        </ul>

        {% endfor %}
    </main>
    
    {% endblock %}